:root {
    --dark-purple: #160C28;
    --naples-yellow: #EFCB68;
    --honeydew: #E1EFE6;
    --ash-gray: #AEB7B3;
    --rich-black: #000411;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(45deg, #160C28 0%, #AEB7B3 100%);
    color: var(--rich-black);
    line-height: 1.6;
    margin-top: 0;
}

header {
    background-color: var(--dark-purple);
    padding: 20px 0;
    text-align: center;
    color: var(--naples-yellow);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative; 
}

header .main-title {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 20px;
}

header .subtitle {
    font-size: 1.2em;
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--naples-yellow);
}

h2 {
    font-size: 1.8em;
    margin: 20px 0;
    border-bottom: 2px solid var(--naples-yellow);
    padding-bottom: 10px;
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: disc;
    margin-left: 50px;
}

li {
    margin-bottom: 15px;
}

p {
    margin-bottom: 25px;
    font-size: 1.1em;
    color: var(--rich-black);
}

button {
    background-color: var(--ash-gray);
    color: var(--rich-black);
    padding: 15px 25px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(--ash-gray);
    color: var(--dark-purple);
    transform: scale(1.05);
}

.section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
}

.section img {
    flex: 0 0 250px;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, filter 0.3s;
}

.section img:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

.section h2, .section p, .section ul {
    width: calc(100% - 250px - 30px);
}

/* Estilos responsivos */
@media only screen and (max-width: 768px) {
    header .main-title { /* Ajustar selector */
        font-size: 2.5em;
    }
    
    header .subtitle {
        font-size: 1em; /* Reducir el tamaño de fuente del subtítulo */
        bottom: 5px;
        right: 5px;
    }

    h1, h2 {
        font-size: 1.8em;
    }

    main {
        margin: 20px auto;
        padding: 20px;
    }

    button {
        padding: 10px 20px;
        font-size: 1em;
    }

    .section {
        padding: 10px;
        flex-direction: column;
    }

    .section img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .section h2, .section p, .section ul {
        width: 100%;
    }

    ul {
        margin-left: 20px; /* Reducir el margen izquierdo en dispositivos móviles */
    }
}

